venv/
__pycache__/
sessions/*
.env
.docker/
docker-compose.override.yml
volumes/
.dockerignore
*.log
*.tmp
.docker_cache/
docker-network/
docker-swarm/
.docker/config.json
.docker-machine/
test_run.Dockerfile
.DS_Store
.vscode/
user_agents.json
proxy_bindings.json
proxies.txt